@use "../../utils/global_variables.scss";
.home {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background-image: url("../../images/dots.png");
  background-repeat: repeat;
  .title {
    width: 40vw;
    margin: 0 auto;
    z-index: 2;
  }
  .mercury {
    position: absolute;
    top: 20%;
    left: 85%;
    width: 250px;
    height: 250px;
    z-index: 2;
  }
  .rocket {
    position: absolute;
    top: 10%;
    left: 75%;
    width: 100px;
    height: 100px;
    z-index: 2;
  }
  .rocketSmall {
    position: absolute;
    top: 70%;
    left: 35%;
    width: 50px;
    height: 50px;
    z-index: 2;
  }
  p {
    margin: 0;
    color: white;
  }
  .ancient {
    width: 300px;
    position: absolute;
    top: 25%;
    left: -10%;
  }
  .astro {
    width: 150px;
    position: absolute;
    top: 25%;
    right: 5%;
    transform: rotateY(180deg); // Rotate 180 degrees along the y-axis
    z-index: 3;
  }
}
.steps {
  position: relative;

  .stepper {
    position: fixed;
    bottom: 50%;
    // color: white;
    right: 5%;
    z-index: 50;
  }
  .step1 {
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/dots.png");
    background-repeat: repeat;
    position: relative;
    .loopSVG {
      position: absolute;
      top: 5%;
      right: 5%;
      width: 150px;

      .path {
        fill: #090021;
        stroke-dasharray: 1000px;
        stroke-dashoffset: 1000px;
        stroke: #7c64bf;
        stroke-width: 5px;
      }
      .one {
        animation: 5s linear 0s infinite normal forwards running dashes;
        @keyframes dashes {
          to {
            stroke-dashoffset: 0px;
          }
        }
      }
      .two {
        animation: 5s linear 5s infinite normal forwards running dashess;
        @keyframes dashess {
          to {
            stroke-dashoffset: 0px;
          }
        }
      }
      .three {
        animation: 5s linear 10s infinite normal forwards running dashesss;
        @keyframes dashesss {
          to {
            stroke-dashoffset: 0px;
          }
        }
      }
      .four {
        animation: 5s linear 15s infinite normal forwards running dashessss;
        @keyframes dashessss {
          to {
            stroke-dashoffset: 0px;
          }
        }
      }
    }
    .createAccount {
      width: 50vw;
      margin: 0 auto;
    }
    .pandaLaptop {
      position: absolute;
      width: 250px;
      height: 250px;
      bottom: 5%;
      right: 5%;
    }
  }
  .step2 {
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/dots.png");
    background-repeat: repeat;
    position: relative;
  }
  .step3 {
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/dots.png");
    background-repeat: repeat;
    position: relative;
    button {
      position: absolute;
      width: 50px;
      height: 50px;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .step4 {
    width: 100vw;
    height: 100vh;
    background-image: url("../../images/dots.png");
    background-repeat: repeat;
  }
}
html {
  scroll-behavior: smooth;
}
#SVGDoc {
  position: absolute;
  bottom: 20%;
  width: 50px;
  left: 0;
  right: 0;
  margin: 0 auto;
  cursor: pointer;
}
#points {
  // display: none;
  position: absolute;
  left: 0%;
  top: 0%;
  width: 100vw;
  height: 100vh;
  z-index: 0;
  path {
    animation: 1s linear 0s infinite alternate forwards running dotes;
    @keyframes dotes {
      to {
        stroke-width: 0px;
      }
    }
  }
}
