@use "../../utils/global_variables.scss";

.text-input-container {
  padding: 0 !important;
  box-sizing: border-box;
  padding-left: 3px !important;
  margin: 2vh 0px;
  background-color: #090121;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  width: inherit;
  font-size: global_variables.$md-text;
  height: 5vh;
  color: #fff;
}
