@use '../../utils/global_variables.scss';

.text-input-container{
    margin:20px 0px;
    background-color: #090121;
    border-radius: 10px;
    border: 1px solid #e0e0e0;
    width: 100%;
    font-size: global_variables.$md-text;
    height: 45px;
    padding:0px 10px; 
    color:#fff;
}