@use "../../utils/global_variables.scss";

.main-containers {
  max-width: 100vw;
  height: 100vh;
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: space-between;
  background-color: #090021;
  margin: 0 auto;
  padding: 0 5vw;

  .left {
    display: flex;
    flex-direction: column;
    background-color: global_variables.$primary;
    border-radius: 16px;
    width: 38.75%;
    margin: 20vh 0vw 0;
    max-height: 70vh;
    padding: 0% 4%;
    overflow: auto;

    .header-text {
      font-size: global_variables.$bg-text;
      color: #fff;
      text-align: center;
      margin-top: 5%;
      height: 15%;
    }

    .inputs-container {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
      //   padding: 30px 0;
      height: 85%;
      width: 100%;
      margin: 0 auto 5%;

      .input {
        width: 100%;

        .input-label-container {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
        }

        .input-label {
          font-size: global_variables.$md-text;
          color: #fff;
        }
        .input-label-2 {
          font-size: global_variables.$sm-text;
          color: #fff;
        }
      }

      .checkbox-text {
        margin: 0 20px;
        font-size: global_variables.$md-text;
        color: #fff;
      }

      .register-button {
        background-color: global_variables.$yellow;
        width: 100%;
        height: 5vh;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        border-radius: 8px;

        .register-button-text {
          font-size: global_variables.$md-text;
          color: global_variables.$primary;
          font-weight: bold;
        }
      }

      .register-button:hover {
        cursor: pointer;
      }
    }
  }

  .right {
    position: relative;
    background-color: global_variables.$white;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    width: 38.75%;
    margin: 20vh 0vw 0;
    max-height: 70vh;
    padding: 0% 4%;
    .header-text {
      text-align: center;
      color: #090021;
      font-weight: bold;
      font-size: global_variables.$md-text;
      margin: 5% 0;
    }
    .text-container {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 65%;
      overflow: auto;
      text-align: center;
    }
    .text {
      text-align: center;
      color: #090021;
      font-size: global_variables.$md-text;
    }

    .sign-in-button {
      display: flex;
      margin: 2% auto 5%;
      width: 70%;
      max-height: 19%;
      transition: background-color 1s, border 1s;
      padding: 1vw 0;
      border-radius: 16px;
      background-color: #520d8c;
      text-align: center;
      align-items: center;

      .sign-in-button-text-1 {
        width: 90%;
        margin: 0% auto;
        text-decoration: none !important;
        color: #fff;
        font-size: global_variables.$md-text;
      }

      .sign-in-button-text-2 {
        width: 90%;
        margin: 0% auto;
        color: #fff;
        font-size: global_variables.$bg-text;
        text-decoration: underline;
      }
    }

    .sign-in-button:hover {
      cursor: pointer;
      background-color: #fff;
      border: 2px solid #520d8c;

      .sign-in-button-text-1 {
        color: #520d8c;
        font-size: global_variables.$md-text;
      }

      .sign-in-button-text-2 {
        color: #520d8c;
        font-size: global_variables.$bg-text;
        text-decoration: underline;
      }
    }
  }
}

// @media (max-width: 1600px) {
//   .left,
//   .right {
//     padding: 40px 20px !important;
//     // height: 90% !important;
//     width: 100% !important;

//     .text {
//       margin-bottom: 5px !important;
//     }

//     .sign-in-button {
//       margin-top: 10px;
//       padding: 5px 0 !important;

//       .sign-in-button-text-2 {
//         font-size: global_variables.$md-text !important;
//       }
//     }
//   }
// }

// @media (max-width: 1250px) {
//   .main-register {
//     padding: 0px 100px !important;
//   }
// }

// @media (max-width: 1200px) {
//   .inputs-container {
//     padding: 10px 0 !important;

//     input {
//       margin-bottom: 5px !important;
//     }

//     .input-label-container {
//       flex-direction: column !important;
//       align-items: flex-start !important;

//       .input-label:nth-child(2) {
//         display: none;
//         margin-top: 5px;
//       }
//     }

//     .input-label,
//     .checkbox-text {
//       font-size: global_variables.$sm-text !important;
//     }
//   }
// }

@media (max-width: global_variables.$tablet) {
  .main-containers {
    flex-direction: column;
    height: 100vh;
    overflow: auto;
    .inputs-container {
      width: 90% !important;
    }

    .left,
    .right {
      width: 90%;
      //   height: 350px;

      margin: 5% auto;
      .sign-in-button {
        width: 90% !important;
      }
    }
    .left {
      margin-top: 50px;
    }

    .sign-in-button {
      margin-bottom: 20px;
    }
  }
}
