@use '../../utils/global_variables.scss';

.main__header{
    background-color: global_variables.$primary;
    height: 10vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}