@use "../../utils/global_variables.scss";

.main__header {
  //   background-color: #090021;
  background-color: transparent;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 200px;
  padding-right: 200px;
  padding-top: 48px;

  .nav {
    .burger {
      display: none;
      transform: rotate(90deg);
      color: white;
      font-size: 32px;
    }

    .burger:hover {
      color: global_variables.$yellow;
    }
  }

  .right {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .account {
      display: flex;
      align-items: center;

      p {
        margin-left: 15px;
        margin-right: 9px;
      }

      .money {
        display: flex;
        margin-left: 55px;

        p {
          font-size: 24px;
          font-weight: bold;
        }
      }
    }

    p {
      font-size: 24px;
      color: global_variables.$white;
      margin-right: 66px;
    }

    p:hover {
      cursor: pointer;
      color: global_variables.$yellow;
      text-decoration: underline;
    }

    .special {
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 228px;
      height: 70px;
      border-radius: 12px;
      border: 3px solid global_variables.$yellow;

      p {
        margin-right: 13px;
      }

      p:hover {
        text-decoration: none;
      }
    }

    .special:hover {
      background-color: global_variables.$yellow;

      p {
        color: black;
      }

      svg g path {
        fill: black;
      }
    }
  }
}

@media (min-width: 1000px) {
  .main__header {
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 30px;

    .nav {
      .logo {
        height: 120px;
      }
    }

    .right {
      .account {
        p {
          margin-left: 10px;
          margin-right: 4px;
        }

        .money {
          margin-left: 40px;

          p {
            font-size: 18px;
          }
        }
      }

      p {
        font-size: 18px;
        margin-right: 45px;
      }

      .special {
        width: 160px;
        height: 50px;
      }
    }
  }
}

@media (max-width: 999px) {
  .main__header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;

    .nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        height: 65px;
      }

      .burger {
        display: block;
      }
    }

    .right {
      display: none;
    }
  }
}

@media (max-width: global_variables.$phone) {
  .main__header {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 30px;

    .nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .logo {
        height: 65px;
      }

      .burger {
        display: block;
      }
    }

    .right {
      display: none;
    }
  }
}
