.checkbox-input-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.checkbox-input {
  opacity: 0.2;
  background-color: #090121;
  border-radius: 10px;
  border: 1px solid #e0e0e0;
  accent-color: #fad221;
  max-width: 22px;
  max-height: 22px;
}

.active {
  opacity: 1 !important;
}
