.checkbox-input-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 30px;
}

.checkbox-input{
  opacity:0.1;
  accent-color:#fad221;
  width: 20px;
  height: 20px;
}

.active{
  opacity: 1!important;
}