@use "../../utils/global_variables.scss";

.main {
  h2,
  h3 {
    padding: 0;
    margin: 0;
    margin-bottom: 15px;
  }
  .main-play {
    overflow-x: hidden;
    padding: 2% 23% !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;

    .containers {
      width: 100% !important;
      height: 100% !important;
      display: flex;
      flex-direction: column;
      // justify-content: center;
      align-items: center;

      .title {
        width: 100%;
        display: flex;
        align-items: baseline;
        justify-content: space-between;
        .title-part1 {
          display: flex;
          align-items: baseline;
          h2 {
            color: global_variables.$white;
            font-size: 40px;
            font-family: "Roobert" !important;
          }

          .separator {
            height: 30px;
            width: 1px;
            background-color: global_variables.$white;
            margin: 0 10px;
          }

          h3 {
            color: global_variables.$white;
            font-size: 24px;
            font-family: "Roobert" !important;
          }
        }

        .title-part2 {
          display: flex;
          align-items: baseline;
          h3 {
            font-size: 24px;
            color: global_variables.$white;
            margin-right: 10px;
            font-family: "Roobert" !important;
          }

          h2 {
            font-size: 40px;
            color: global_variables.$yellow;
            font-family: "Roobert" !important;
          }
        }
      }

      .line {
        width: 100%;
        background-color: #707070;
        height: 0.5px;
      }
    }
  }
}
