@use "../../utils/global_variables.scss";

    .main-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 7.5%;
        margin-top: 10%;
  
        .left-tick-icon{
            height: 15px;
            width: 15px;
        }

        .main-left-circle {
            width: 20px;
            height: 20px;
          border-radius: 60px;
          padding: 10px 10px;
          margin: 5px 0;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
        }
        
        .active-circle{
            color: global_variables.$yellow;
            border: 1px solid global_variables.$yellow;
        }
        
        .inactive-circle{
            color: gray;
            border: 1px solid gray;
        }
        .active-label{
            color: global_variables.$yellow;
        }
        
        .inactive-label{
            color: gray;
        }

        .main-left-label {
            margin-bottom: 10px;
            font-size: 14px;
        }
  
        .main-left-seperator {
          border-left: 1px solid lightgray;
          height: 100px;
          align-self: center;
        }
    }

    .main-right{
        display: flex;
        flex-direction: column;
        align-items: center;
        flex:1
    }

    .choose-character-container {
        margin-bottom: 10px;
        margin-right: 200px!important;

        .panda-img{
            height: 80%;
        }

        .choose-character {
          width: 100%;
          display: flex;
          // flex
          align-items: center;
          justify-content: space-between;
          margin-top: 30px;
      
          .box1 {
            width: 50%;
            margin-right: 20px;
            height: 583px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 10px;
            border: 1px solid white;
      
            p {
              font-size: 24;
              color: white;
            }
          }
      
          .box1:hover {
            background-image: url("../../images/back.png");
          }
      
          .box2 {
            width: 50%;
            height: 583px;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            border-radius: 10px;
            border: 1px solid white;
      
            p {
              font-size: 24;
              color: white;
            }
          }
      
          .box2:hover {
            background-image: url("../../images/back2.png");
          }
        }
      
        .Buttons {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 30px;
      
          .Button {
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 8px;
            height: 65px;
            width: 48%;
            border: 2px solid #fad221;
      
            h2 {
              font-size: 32;
              color: white;
            }
          }
      
          .Button:hover {
            background-color: #fad221;
            cursor: pointer;
          }
        }
      }
      
      .choose-character-container {
        width: 55%;
        margin-right: 4.5%;
        .choose-character {
          width: 100%;
          display: flex;
          align-items: center;
          justify-content: space-between;
        }
      }