@use "../../utils/global_variables.scss";

@media (max-width: 900px) {
  .panda-modal-container {
    display: flex;
    flex-direction: column !important;
    align-items: center;

  }
  
  .modal-close-icon-container {
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 40px!important;
  }
  .main-container {
    width: 100% !important;
    display: flex !important;
    flex-direction: column;
    align-items: center !important;
    margin: 0 auto !important;

    .main-left {
      display: none;
    }

    .main-right {
    }
  }
  .choose-character {
    width: 300px !important;
    display: flex;
    flex-direction: column !important;

    .box1,
    .box2 {
      width: 300px !important;
      margin-bottom: 10px;
    }
  }
  .Buttons {
    display: none !important;
  }
}

.main-container {
  height: 100%;
}

.main-label {
  color: #fff;
  text-align: center;
  font-size: 18px;
}

.main-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 7.5%;
  margin-top: 10%;

  .left-tick-icon {
    height: 15px;
    width: 15px;
  }

  .main-left-circle {
    width: 20px;
    height: 20px;
    border-radius: 60px;
    padding: 10px 10px;
    margin: 5px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .active-circle {
    color: global_variables.$yellow;
    border: 1px solid global_variables.$yellow;
  }

  .inactive-circle {
    color: gray;
    border: 1px solid gray;
  }
  .active-label {
    color: global_variables.$yellow;
  }

  .inactive-label {
    color: gray;
  }

  .main-left-label {
    margin-bottom: 10px;
    font-size: 14px;
  }

  .main-left-seperator {
    border-left: 1px solid lightgray;
    height: 100px;
    align-self: center;
  }
}

.main-right {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.choose-character-container {
  margin-bottom: 10px;
  // margin-right: 200px !important;

  .panda-img {
    height: 80%;
  }

  .choose-character {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    gap: 20px;

    .box1 {
      padding: 0 20px;
      // width: 50%;
      // margin-right: 20px;
      height: 583px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 10px;
      border: 1px solid white;

      p {
        font-size: 24;
        color: white;
      }
    }

    .box1:hover {
      background-image: url("../../images/back.png");
    }

    .box2 {
      padding: 0 20px;

      // width: 50%;
      height: 583px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      border-radius: 10px;
      border: 1px solid white;

      p {
        font-size: 24;
        color: white;
      }
    }

    .box2:hover {
      background-image: url("../../images/back2.png");
    }
  }

  .Buttons {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 100px;
    margin-top: 30px;

    .Button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 8px;
      height: 65px;
      width: 50%;
      border: 2px solid #fad221;

      h2 {
        font-size: 32;
        color: white;
        padding: 0 !important;
        margin: 0 !important;
      }
    }

    .Button:hover {
      background-color: #fad221;
      cursor: pointer;
    }
  }
}

.choose-character-container {
  width: 55%;
  margin-right: 4.5%;
  .choose-character {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.modal-close-icon-container {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  right: 20px;

  .modal-close-icon {
    height: 30px;
    width: 30px;
    align-self: flex-end;
    justify-self: flex-end;
  }

  .modal-close-icon:hover {
    cursor: pointer;
  }
}

.panda-modal-container {
  display: flex;
  flex-direction: row;
  align-items: center;

  .panda-modal-img {
    height: 300px;
    margin-left: 50px;
  }

  .modal-buttons-container {
    display: flex;
    margin-top: 30px;

    .modal-button {
      color: #fff;
      padding: 10px 50px;
      border-radius: 5px;
    }

    .modal-button:nth-child(2) {
      margin-left: 10px;
    }

    .modal-button:hover {
      cursor: pointer;
    }
  }

  .panda-modal-child {
    display: flex;
    flex-direction: column;

    h1,
    h2 {
      margin: 0;
    }

    .panda-name {
      padding-top: 10px;
      padding-bottom: 20px;
      font-size: 50px;
    }
  }
}
