.footer {
  margin-top: 2%;
  padding-bottom: 5%;
  z-index: 10;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .sec1 {
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    .title {
      font-size: 32px;
      color: white;
      margin-bottom: 2%;
    }

    .accordion {
      width: 100%;

      .item {
        margin-bottom: 10px;
        padding: 20px 20px;
        border-radius: 11px;
        background-color: #271f3c;
        color: white;

        .head {
          font-family: "Helvetica Neue";
        }

        .head:hover{
          cursor: pointer;
        }

        p {
          font-family: "Helvetica Neue";
          color: #e0e0e0;
        }
      }
    }

    // .accordion:hover{
    //   cursor: pointer;
    // }
  }

  .sec2 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    a:hover {
      opacity: 0.5;
    }
  }


  
  .sec3 {
    width: 80%;
    display: flex;
    flex-direction: column;

    .sec3-1 {
      margin-top: 50px;
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;


      .sub {
        cursor: pointer;
        color: white;
        font-family: "Helvetica Neue";
      }

      .sub:hover {
        color: yellow;
      }
    }

    .sec3-2 {
      margin-top: 20px;
      font-family: "Helvetica Neue";
      color: white;
      font-size: 12px;

      span {
        color: #35c322;
      }
    }
  }
}


.footer-modal-paragraph{
  display: flex;
  max-height: 300px;
  overflow: auto;
}

@media (max-width:900px){
  .sec2 {
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .footer__panda__img{
      height: 400px;
      width: 400px;
      margin: 20px 0px;
    }
    
    a{

      .footer__social__icon{
        width: 150px;
        height: 150px;
      }
    }
  }
}

@media (max-width:800px){
  .sec3-1 {
    flex-direction: column;

    
    .sub {
      margin-bottom: 10px;
    }

  }
}